body {
  margin: 0;
  background-color: var(--thrn-color-background);
}

a {
  text-decoration: none;
}

.npm__react-simple-code-editor__textarea {
  font-family: var(--thrn-fonts-mono) !important;
  font-size: var(--thrn-fonts-sans) !important;
  padding: var(--thrn-space-6) !important;
  padding-right: var(--thrn-space-14) !important;
}

.npm__react-simple-code-editor__textarea *,
.npm__react-simple-code-editor__textarea + pre * {
  font-family: var(--thrn-fonts-mono) !important;
  font-size: var(--thrn-fonts-sans) !important;
}

.npm__react-simple-code-editor__textarea:focus-visible {
  outline: none;
}

.npm__react-simple-code-editor__textarea + pre {
  font-family: var(--thrn-fonts-mono) !important;
  font-size: var(--thrn-fonts-sans) !important;
  padding: var(--space-6) !important;
  padding-right: var(--space-14) !important;
}
